
*{
  box-sizing: border-box;
  }

p{
  height: 1000px;
}

h1{
  color: red;
}

#brand{
  font-size: 3em;
  color: blue;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

#chicken{
background-color: green;
}
#beef{
background-color: gray;
}
#suchi{
background-color: blue;
}

#page-header {
  border: 0;
  margin: 0;
  background-color: gray;
  border-radius: 0;
  color: red;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid yellow;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -15px;
}

#links a {
text-align: center;
background-color: yellow;
border: solid;
}


